<!DOCTYPE html>
<html lang="en">
    <head>
        <title>सब local</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/formadshpdontn.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>    
    </head>
    <body>
        <div class="container-contact2">
            <div class="wrap-contact2">
                <form class="contact2-form validate-form" method="POST">
                    <span class="contact2-form-title">DONATION FORM</span>
                    <%- include("./messages") %>
                    <div class="wrap-input2 validate-input" data-validate="Name is required">
                        <input class="input2" type="text" name="donorname">
                        <span class="focus-input2" data-placeholder="DONOR'S NAME"></span>
                    </div>
                    <div class="wrap-input2 validate-input" data-validate="Name is required">
                        <input class="input2" type="text" name="ownername">
                        <span class="focus-input2" data-placeholder="SHOP OWNER'S NAME"></span>
                    </div>
                    <div class="wrap-input2 validate-input" data-validate="Name is required">
                        <input class="input2" type="text" name="shopname">
                        <span class="focus-input2" data-placeholder="SHOP NAME"></span>
                    </div>
                    <div class="wrap-input2 validate-input" data-validate="Pincode is required">
                        <input class="input2" type="text" name="pincode">
                        <span class="focus-input2" data-placeholder="PINCODE FOR SHOP"></span>
                    </div>
                    <div class="wrap-input2 validate-input" data-validate="Area is required">
                        <input class="input2" type="text" name="area">
                        <span class="focus-input2" data-placeholder="AREA OF SHOP"></span>
                    </div>
                    <div class="wrap-input2 validate-input" data-validate="Donaton amount is required">
                        <input class="input2" type="number" name="amount">
                        <span class="focus-input2" data-placeholder="DONATION AMOUNT"></span>
                    </div>
                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="f7775f58ac4b1fa3c11dd334-text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="f7775f58ac4b1fa3c11dd334-text/javascript"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="f7775f58ac4b1fa3c11dd334-text/javascript"></script>
        <script src="assets/js/formadshpdontn.js" type="f7775f58ac4b1fa3c11dd334-text/javascript"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="f7775f58ac4b1fa3c11dd334-text/javascript"></script>
        <script type="f7775f58ac4b1fa3c11dd334-text/javascript">
	        window.dataLayer = window.dataLayer || [];
	        function gtag(){dataLayer.push(arguments);}
	        gtag('js', new Date());
	        gtag('config', 'UA-23581568-13');
	    </script>
        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="f7775f58ac4b1fa3c11dd334-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"5cf12e253edd17a7","version":"2020.7.0","si":10}'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>
