@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

/* Reset */
    
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, contactus, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		scroll-behavior: smooth;
	}
    article, aside, details, figcaption, figure, contactus, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
    }

/* Grid */

.row.uniform > * {
	padding: 2em 0 0 2em;
}

.row.uniform {
	margin: -2em 0 -1px -2em;
}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #fff;
		color: #111111;
	}

	body, input, select, textarea {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
	}

		a:hover {
			text-decoration: underline;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1.1em;
		}

	}

	code {
		border-radius: 0;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 2em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 7em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 2.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #e5474b;
	}

	a {
		color: #e5474b;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #e5474b;
	}

	code {
		background: none;
		border-color: #e5474b;
	}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        text-decoration: none;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
        padding-left: 1.35em;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        button.icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
        font-size: 1.35em;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0.25;
    }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: #5a5a5a;
    color: #ffffff !important;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: #676767;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
        background-color: #4d4d4d;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    input[type="button"].alt,
    button.alt,
    .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #e5474b;
        color: #e5474b !important;
    }

        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        input[type="button"].alt:hover,
        button.alt:hover,
        .button.alt:hover {
            background: #fceced;
        }

        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        input[type="button"].alt:active,
        button.alt:active,
        .button.alt:active {
            background-color: #f9dadb;
        }

        input[type="submit"].alt.icon:before,
        input[type="reset"].alt.icon:before,
        input[type="button"].alt.icon:before,
        button.alt.icon:before,
        .button.alt.icon:before {
            color: #717171;
        }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
        background-color: #e5474b;
        color: #ffffff !important;
    }

        input[type="submit"].special:hover,
        input[type="reset"].special:hover,
        input[type="button"].special:hover,
        button.special:hover,
        .button.special:hover {
            background-color: #e85d61;
        }

        input[type="submit"].special:active,
        input[type="reset"].special:active,
        input[type="button"].special:active,
        button.special:active,
        .button.special:active {
            background-color: #e23135;
        }


/* Form */

form {
	margin: 0 0 2em 0;
}

	form .field {
		margin: 0 0 2em 0;
	}

		form .field.half {
			width: 50%;
			float: left;
			padding: 0 0 0 1em;
		}

			form .field.half.first {
				padding: 0 1em 0 0;
			}

	form > .actions {
		margin: 2.5em 0 0 0 !important;
	}

	@media screen and (max-width: 736px) {

		form .field {
			margin: 0 0 1.5em 0;
		}

			form .field.half {
				padding: 0 0 0 0.75em;
			}

				form .field.half.first {
					padding: 0 0.75em 0 0;
				}

		form > .actions {
			margin: 2em 0 0 0 !important;
		}

	}

	@media screen and (max-width: 480px) {

		form .field.half {
			width: 100%;
			float: none;
			padding: 0;
		}

			form .field.half.first {
				padding: 0;
			}

	}

label {
	display: block;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	border: none;
	border: solid 3px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

	input[type="text"]:invalid,
	input[type="password"]:invalid,
	input[type="email"]:invalid,
	select:invalid,
	textarea:invalid {
		box-shadow: none;
	}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

	.select-wrapper:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.select-wrapper:before {
		content: '\f078';
		display: block;
		height: 2.75em;
		line-height: 2.75em;
		pointer-events: none;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 2.75em;
	}

	.select-wrapper select::-ms-expand {
		display: none;
	}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 2.75em;
}

textarea {
	padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		font-weight: 300;
		padding-left: 2.4em;
		padding-right: 0.75em;
		position: relative;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			border-radius: 0;
			border: solid 1px;
			content: '';
			display: inline-block;
			height: 1.65em;
			left: 0;
			line-height: 1.58125em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 1.65em;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		content: '\f00c';
	}

input[type="checkbox"] + label:before {
	border-radius: 0;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	opacity: 1.0;
}

:-moz-placeholder {
	opacity: 1.0;
}

::-moz-placeholder {
	opacity: 1.0;
}

:-ms-input-placeholder {
	opacity: 1.0;
}

.formerize-placeholder {
	opacity: 1.0;
}

label {
	color: #e5474b;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	background: none;
	border-color: #fceced;
}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	select:focus,
	textarea:focus {
		border-color: #e5474b;
		box-shadow: 0 0 0 1px #e5474b;
	}

.select-wrapper:before {
	color: #e5474b;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	color: #111111;
}

	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
		background: none;
		border-color: #e5474b;
	}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background-color: #e5474b;
	border-color: #e5474b;
	color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #e5474b;
	box-shadow: 0 0 0 1px #e5474b;
}

::-webkit-input-placeholder {
	color: #717171 !important;
}

:-moz-placeholder {
	color: #717171 !important;
}

::-moz-placeholder {
	color: #717171 !important;
}

:-ms-input-placeholder {
	color: #717171 !important;
}

.formerize-placeholder {
	color: #717171 !important;
}


/* Icon */

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

    .image.fit img {
        width: 100%;
    }

ul {
list-style: disc;
margin: 0 0 2em 0;
padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

    ul.alt li {
        border-top: solid 1px;
        padding: 0.5em 0;
        font-size: 1.2em;                                                     /*in shopsearch: customer count line*/
    }


 ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.actions li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
    }

ul.alt li {
border-top-color: #e5474b;
}


/* Section/Article */

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
	}

/* Header */

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #4a5050;
		color: #d5d5d5;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 6em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

			@media screen and (max-width: 480px) {

				#header .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1.75em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}

			#header .logo:hover {
				color: rgba(229, 71, 75, 0.75);
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.86em;
		}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
			}

			#header a:last-child {
				padding-right: 0em;
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}


/* Menu */

#nav {
    display: inline-block;
}

    @media screen and (max-width: 980px) {

        #nav {
            display: none;
        }

    }

.navPanelToggle {
    position: fixed;
    text-decoration: none;
    height: 4em;
    right: 3em;
    top: .75em;
    width: 4em;
    display: none;
    z-index: 10002;
}

    .navPanelToggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }

    @media screen and (max-width: 980px) {

        .navPanelToggle {
            display: block;
        }

    }

    @media screen and (max-width: 736px) {

        .navPanelToggle {
            right: 1em;
        }

    }

    .navPanelToggle *:before {
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }

#navPanel {
    -moz-transform: translatex(20em);
    -webkit-transform: translatex(20em);
    -ms-transform: translatex(20em);
    transform: translatex(20em);
    -moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: #1c1c1c;
    color: #fff;
    height: 100%;
    max-width: 80%;
    width: 20em;
    padding: 1.5em;
    text-transform: uppercase;
    z-index: 10003;
    display: none;
}

    #navPanel.visible {
        -moz-transform: translatex(0);
        -webkit-transform: translatex(0);
        -ms-transform: translatex(0);
        transform: translatex(0);
        box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
        visibility: visible;
    }

    #navPanel a:not(.close) {
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        color: #fff;
        font-weight: 700;
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
    }

        #navPanel a:not(.close):first-child {
            border: none;
        }

    #navPanel .close {
        text-decoration: none;
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        border: 0;
        color: #484848;
        cursor: pointer;
        display: block;
        height: 4em;
        padding-right: 1.25em;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        vertical-align: middle;
        width: 5em;
    }

        #navPanel .close:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
            content: '\f00d';
            width: 3em;
            height: 3em;
            line-height: 3em;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
        }

        #navPanel .close:hover {
            color: inherit;
        }

    @media screen and (max-width: 980px) {

        #navPanel {
            display: block;
        }

    }


/* Banner */

	#banner {

        background: #f3f3f3;
        background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
		padding: 11em 0 11em 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
	}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #e5474b;
        }
        
		#banner:after {
			-moz-transition: opacity 4s ease;
			-webkit-transition: opacity 4s ease;
			-ms-transition: opacity 4s ease;
			transition: opacity 4s ease;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background-color:#0c0c0c;
			opacity: 0.25;
		}

		#banner .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
			z-index: 10000;
			line-height: 1.5;
		}

			@media screen and (max-width: 480px) {

				#banner .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#banner h1 {
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
		}

			#banner h1 span {
				font-weight: 400;
			}

		body.is-loading #banner:after {
			opacity: 1;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 10em 0 8em 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 8em 0 6em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 12em 0 10em 0;
			}

				#banner br {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 4em 0 2em 0;
			}

				#banner h1 {
					font-size: 1.75em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 5em 0 3em 0;
			}

				#banner ul {
					margin-top: 1em;
				}

		}

/* Main */

	#main {
		padding: 4em 0 2em 0;
	}

	#about {
		padding: 6em 0 4em 0;
	}

		@media screen and (max-width: 980px) {

			#about {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#about {
				padding: 2em 0 0.1em 0;
			}

		}

        #donate {
            padding: 6em 0 4em 0;
            background: #f3f3f3;
            background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
            background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
            background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
        }

            #donate .inner {
                display: -ms-flexbox;
                display: -moz-flex;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                -moz-flex-direction: row;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
            }

                #donate .inner article {
                    width: 50%;
                }

                    #donate .inner article:first-child {
                        padding-right: 6em;
                    }

                    #donate .inner article:last-child {
                        padding-left: 6em;
                    }

            @media screen and (max-width: 980px) {

                #donate {
                    padding: 4em 0 2em 0;
                    background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
                    background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
                    background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
                }

                    #donate .inner {
                        -moz-flex-direction: column;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                    }

                        #donate .inner article {
                            width: 100%;
                        }

                            #donate .inner article:first-child {
                                padding-right: 0;
                                padding-bottom: 2em;
                            }

                            #donate .inner article:last-child {
                                padding-left: 0;
                                padding-top: 2em;
                            }

            }

            @media screen and (max-width: 736px) {

                #donate {
                    padding: 2em 0 0.1em 0;
                }

            }

	#addshop {
		padding: 6em 0 4em 0;
		background: #f3f3f3;
		background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
	}

		#addshop .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			-ms-flex-pack: justify;
		}

			#addshop .inner article {
				width: 26%;
				display: block;
			}

				#addshop .inner article p {
					color: #717171;
				}

				#addshop .inner article .icon {
					color: #b3b3b3;
					font-size: 3em;
				}

			@media screen and (max-width: 980px) {

				#addshop .inner {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#addshop .inner article {
						width: 100%;
						margin: 0 auto;
					}

			}

		@media screen and (max-width: 980px) {

			#addshop {
				padding: 4em 0 2em 0;
				background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
			}

		}

		@media screen and (max-width: 736px) {

			#addshop {
				padding: 2em 0 0.1em 0;
			}

		}

	#shopnow {
		padding: 6em 0 4em 0;
	}

		@media screen and (max-width: 980px) {

			#shopnow {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#shopnow {
				padding: 2em 0 0.1em 0;
			}

		}

/* contactus */

#contactus {
    background-color: #e5474b;
    color: #f2a3a5;
    padding: 2em 0 2em 0;
    background: #e5474b;
}

    #contactus input, #contactus select, #contactus textarea {
        color: #ffffff;
    }

    #contactus a {
        color: #ffffff;
    }

    #contactus h1, #contactus h2, #contactus h3, #contactus h4, #contactus h5, #contactus h6 {
        color: #fff;
    }

        #contactus input[type="submit"].alt,
        #contactus input[type="reset"].alt,
        #contactus input[type="button"].alt,
        #contactus button.alt,
        #contactus .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #fff;
            color: #ffffff !important;
        }

            #contactus input[type="submit"].alt:hover,
            #contactus input[type="reset"].alt:hover,
            #contactus input[type="button"].alt:hover,
            #contactus button.alt:hover,
            #contactus .button.alt:hover {
                background: rgba(255, 255, 255, 0.25);
            }

    #contactus label {
        color: #ffffff;
    }

    #contactus input[type="text"],
    #contactus input[type="password"],
    #contactus input[type="email"],
    #contactus select,
    #contactus textarea {
        background: none;
        border-color: rgba(255, 255, 255, 0.25);
    }

        #contactus input[type="text"]:focus,
        #contactus input[type="password"]:focus,
        #contactus input[type="email"]:focus,
        #contactus select:focus,
        #contactus textarea:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
        }
